<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dino.runner">

    <application
        android:name="com.example.dino.ComposeApp"
        android:label="Dino Runner"
        android:theme="@style/Theme.DinoRunner">
        <activity android:name="com.example.dino.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
